.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main select {
  align-self: center;
  margin: 1rem;
}

.main textarea {
  width: 35vw;
  height: 80vh;
  margin: 1rem;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}

.main button {
  padding: 1rem;
  margin: 1rem;
  background-color: #63b0e5;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main > div {
    flex-direction: column;
  }
  .main textarea {
    width: 80vw;
  }
}
